/*==============================================
[Magenta color stylesheet magenta.css]

Author:	SINDEVO.COM - Smart Internet Development
Template:	Mobix - Mobile Web APP Template
================================================*/

/*===============================================*/
/* MAIN COLOR */
/*===============================================*/	
a, blockquote span {
color: #0D2340;
}
a.button_full, a.button_small, .call_button a{
background-color:#0D2340; 
}
.button {
border: 1px solid #0D2340;
color: #0D2340;
}
.button.active {
background: #0D2340;
}
#pages_maincontent h3{
color:#0D2340;
}
.photo-categories a.active{
background-color:#0D2340;
}
.post_date{
color:#0D2340;
}
.list-block .swipeout-actions-left a,
.list-block .swipeout-actions-right a {
background: #0D2340;
}
.contactform input.form_submit, .loginform input.form_submit, .commentform input.form_submit{ 
background-color:#0D2340;
}
ul.responsive_table li:first-child{
background-color:#0D2340;
color:#FFFFFF;
}
li.table_row{
background-color:#e6e6e6;
}
.blog_nav a{
background-color:#0D2340;
}

/*===============================================*/
/* HOME BG AND PAGES HEADER BG */
/*===============================================*/	
.homepage{
background: url(../../images/colors/magenta/bg.jpg) no-repeat center center;
background-attachment:fixed;
-webkit-background-size: 100%; 
-moz-background-size: 100%;
-o-background-size: 100%;
background-size: 100%;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover; 
background-size: cover;
}
.navbarpages{
background:url(../../images/colors/magenta/header.jpg) no-repeat center center;
}
/*===============================================*/
/* MAIN NAV LINKS */
/*===============================================*/	
.main-nav ul li{
background: #0d2340;
border-bottom:1px #692c46 solid;
}
.main-nav ul li a{
color:#c6a0b1;
}
/*===============================================*/
/* POPUPS AND TOOLBAR */
/*===============================================*/	
.popup, .page_content_menu{
background: #FFFFFF;
}
.popup-login, .popup-signup, .popup-forgot{
/*background-color:#263239;*/
background: url(../../images/colors/magenta/bg.jpg) center center;

}
.toolbar:before {
  background-color: #000000;
}
.navbar,
.toolbar,
.subnavbar {
  background: #000000;
}
/*===============================================*/
/* LEFT AND RIGHT SLIDE PANELbackground:#873a48; */
/*===============================================*/
.panel {
background:#3A4C69;
}
.user-nav ul li, ul.popular_posts li{
border-bottom:1px #9b4d5b solid;
}
/* MENU OPENER ICON */
ul.toolbar_icons li.menuicon{
background-color:#3A4C69;
}

/* PANEL CLOSE BUTTON */
.close_popup_button a{
background-color:#3A4C69;
}